:root{
    --main-color: hsl(217, 54%, 11%);
    --card-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 51%, 70%);
    --title-color: hsl(0, 0%, 100%);
    --link-color: hsl(178, 100%, 50%);
     
}